.message {
	padding: 10px;
	margin: 10px;
	width: fit-content;
}

.message-inline {
	display: flex;
	justify-content: center;
}
.message-cardContent {
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 90%; */
	margin: auto;
}

.message-avatar {
	/* margin: auto; */
	margin-right: 5px;
}

.message-typography {
	padding: 0px 25px 0px 25px;
	text-align: center;
	white-space: pre-wrap;
}
.message-user {
	margin-left: auto;
	color: white !important;
	text-align: left !important;
}

.message-myCard {
	background-color: rgba(11, 129, 255, 0.8) !important;
	color: white !important;
}

.message-heraCard {
	background-color: rgba(163, 163, 164, 0.8) !important;
}
.css-46bh2p-MuiCardContent-root:last-child {
	padding-bottom: 20px !important;
}
.css-46bh2p-MuiCardContent-root {
	padding: 20px !important;
}
.css-1q2tlgs-MuiTypography-root {
	line-height: 0;
}
.css-1qw96cp:last-child {
	padding-bottom: 0;
}
@media only screen and (max-width: 600px) {
	.message-typography {
		font-size: 10px !important;
	}
}
@media only screen and (min-width: 768px) {
	.message-typography {
		padding: 0;
	}
}
